.App {
  text-align: center;
}

.map-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: crosshair;
}

.map-wrapper.moving {
  cursor: grabbing;
}
.map-wrapper.bg-vector-light {
  background: #538bc2;
}
.map-wrapper.bg-vector-dark {
  background: #384950;
}
.map-wrapper.bg-satellite {
  background: #143D6B;
}
.tooltip {
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, .8);
  color: white;
  font: 10pt sans-serif;
  max-width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 5px 5px 5px;
}

.switch-view {
  top: 5em;
  left: .5em;
  color: white !important;
}

.load-data {
  top: 8em;
  left: .5em;
  width: 24px;
  height: 24px;
  color: white !important;
}

.coords {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white !important;
  font: 10pt sans-serif;
  background: rgba(0, 0, 0, .8);
  padding: 5px;
}


.ol-control button{ 
  padding: 5px !important;
  background: rgba(0, 0, 0, .8) !important;
  color: white !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 20px !important;
}

.ol-control button:hover{
  background: rgba(0, 0, 0, .9) !important;
  border: none !important;
}