.App {
  text-align: center;

}

.map-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: crosshair;
}

.map-wrapper.bg-vector-light {
  background: #538bc2;
}
.map-wrapper.bg-vector-dark {
  background: #384950;
}
.map-wrapper.bg-satellite {
  background: #143D6B;
}
.tooltip {
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, .9);
  color: white;
  font: 10pt sans-serif;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch-view {
  top: 1em;
  left: 1em;
  color: white !important;
}

.load-data {
  top: 3em;
  left: 1em;
  width: 24px;
  height: 24px;
  color: white !important;
}

.coords {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white !important;
  font: 10pt sans-serif;
  background: rgba(0, 0, 0, .8);
  padding: 5px;
}


.ol-control button{ 
  padding: 5px !important;
  background: rgba(0, 0, 0, .8) !important;
  color: white !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 20px !important;
}

.ol-control button:hover{
  background: rgba(0, 0, 0, .9) !important;
  border: none !important;
}

.zoom {
  position: absolute;
  bottom: 1em;
  right: 1em;
}


.features-control {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
  font: 10pt sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.features-control-label {
  background: rgba(0, 0, 0, .8);
  padding: 5px;
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.features-control-label:hover {
  background: rgba(56, 56, 56, 0.9);
}
.features-control-label .count {
  font-weight: bold;
}

.features-control-label .icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.features-control-label.hidden {
  filter: grayscale(100%);
}